* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: blanchedalmond;
}

.div-titulo {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-titulo h1{
    font-weight: 300;
}

.contenedor{
    width: 100%;
    height: calc(100vh- 100px);
    display: flex;
    justify-content: center;
}

/*ESTILOS DE FORMULARIO*/
.contenedor .div-formulario{
    width: 30%;
    height: 250px;
    margin: 15px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: lightgray;
}

.contenedor .div-formulario h2{
    margin-top: 10px;
    font-weight: 300;
    font-size: 2em;
    color: brown;

}

.contenedor .div-formulario form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor .div-formulario form input,
.contenedor .div-formulario form button{
    width: 60%;
    padding: 10px 10px;
    margin: 10px 10px;
}

/*ESTILOS DEL LISTADO*/
.contenedor .div-listado{
    width: 55%;
    height: calc(100%-50px);
    margin: 15px 15px;
    background-color: dimgrey;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.contenedor .div-listado h2 {
    margin-top: 10px;
    font-weight: 300;
    font-size: 2em;
    color: whitesmoke;
}
.contenedor .div-listado .div-empleados{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    padding: 0 30px;
}

.contenedor .div-listado .div-empleados p {
    margin: 10px 0px;
    font-size: 1em;
    color: #ddd;
}

hr {
    width: 100%;
    height: 1px;
}

.btn{
    padding: 5px 10px;
    border: none;
    margin: 0 5px;
    color: white;
    border-radius: 50px;

}
 .btn-editar {
    background-color: green;
 }

 .btn-eliminar{
    background-color: red;
 }

 .empleado{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
 }